
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@*<button style="float:right">@Html.ActionLink("Đăng nhập", "Login", "Admin")</button>*@

<h2 style="text-align:center">QUẢN LÝ HỌC SINH</h2>

