
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHocSinh.cshtml";
}
<button style="float:right">@Html.ActionLink("Đăng xuất", "Index", "User")</button>
<br>
<h2 style="text-align:center">XIN CHÀO HỌC SINH</h2>


