
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<button style="float:right">@Html.ActionLink("Đăng nhập", "LoginGV", "User")</button>
<br>
<h2 style="text-align:center">XIN CHÀO GIÁO VIÊN</h2>
