
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center; color:firebrick"><strong>Trường Trung Học Phổ Thông HUFLIT</strong></h2>
<p style="text-align:center">
    <img src="~/images/gioithieutruong.jpg" />
</p>

<p style="font-weight: bold;text-align: center;font-style: italic; font-size:medium"></p>
<strong>
<div class="bodytext">
    <div style="text-align: justify;">
        <div>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Trên cơ sở tiền thân là Trường Dân lập Ngoại ngữ và Tin học Sài Gòn được thành lập theo quyết định số 871/QĐ-UB ngày 02/6/1992 của UBND TP. HCM thực hiện sứ mệnh đào tạo nguồn nhân lực thời mở cửa và hội nhập quốc tế, khu vực hóa và toàn cầu hóa, ngày 26/10/1994 Thủ tướng Chính phủ Võ Văn Kiệt ký Quyết định số 616/TTg chính thức phát triển Trường Dân lập Ngoại ngữ và Tin học Sài Gòn thành Trường Đại học Ngoại ngữ - Tin học TP. HCM (Ho Chi Minh City University of Foreign Languages and Information Technology - HUFLIT). Đây là trường đại học dân lập đầu tiên ở TP. HCM và khu vực phía Nam. Đến năm 2015, Trường chính thức được chuyển đổi loại hình đào tạo từ trường đại học dân lập sang loại hình trường đại học tư thục theo Quyết định số 1757/QĐ-TTg ngày 15/10/2015 của Thủ tướng Chính phủ. Trải qua hơn 25 năm phát triển, với mục tiêu “không vì lợi nhuận” và phương châm đào tạo lực lượng cử nhân chất lượng cao, thành thạo chuyên môn và bảo đảm các kỹ năng cần thiết đáp ứng nhu cầu thị trường lao động, Trường Đại học Ngoại ngữ - Tin học TP. HCM đã không ngừng nỗ lực phát triển và trở thành một trong những trường đại học có uy tín và chất lượng cao, được xã hội công nhận, đóng góp tích cực, hiệu quả vào sự nghiệp xã hội hóa giáo dục, công cuộc xây dựng và phát triển đất nước.<br />
            &nbsp;
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Phấn đấu thực hiện thành công mục tiêu và sứ mệnh đào tạo của Trường, HUFLIT ngoài việc không ngừng cải tiến chương trình đào tạo, phương pháp giảng dạy, hệ thống quản lý, trường còn luôn tích cực chủ động hội nhập khu vực và quốc tế trong lĩnh vực đào tạo ngay từ khi mới thành lập thông qua các hoạt động hữu nghị và ngoại giao nhân dân. Cho đến nay, HUFLIT đã ký kết hơn 80 văn bản hợp tác với các cơ sở đào tạo và tổ chức giáo dục trên thế giới, tạo điều kiện để cán bộ, giảng viên và sinh viên có cơ hội tiếp cận, trải nghiệm môi trường học tập và chương tình đào tạo của các nước qua các chương trình hợp tác học thuật, du học, trao đổi giảng viên và sinh viên.<br />
        <br />
    </div>
</div>
</strong>