
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<br>
<h1 style="text-align:center;color:firebrick;font-weight:bold">Thông báo</h1>
<div class="bodytext">
    <div style="text-align: justify;">
        <div style="font-weight:bold;">
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Thực hiện Kế hoạch số 14/KH-ĐNT ngày 17/04/2018 của Hiệu trưởng Trường Đại học Ngoại ngữ - Tin học TP.HCM, Ban Đảm bảo chất lượng và Thanh tra giáo dục (ĐBCL&TTGD) sẽ tiến khảo sát lấy ý kiến phản hồi từ người học về hoạt động giảng dạy của giảng viên ở học kì II và chất lượng phục vụ của thư viện trong năm học 2017-2018.</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Thời gian khảo sát: Từ 19/4/2018 đến 07/5/2018.</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Đối tượng lấy ý kiến: : Tất cả sinh viên (SV) hệ đại học các khóa (Chính quy, Văn bằng 2, Vừa làm vừa học, Liên thông).</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Phương thức khảo sát: khảo sát trực tuyến</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Đối với khảo sát lấy ý kiến phản hồi từ người học về hoạt động giảng dạy của giảng viên, SV thực hiện theo các bước sau đây: </p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;·         Bước 1: Đăng nhập tài khoản cá nhân trên trang web: http://daotao.huflit.edu.vn</p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;·         Bước 2: Click vào mục “Đánh giá giảng dạy”.</p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;·         Bước 3: Lần lượt chọn các môn học và giảng viên giảng dạy để nhận xét.</p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;·         Bước 4: Tiến hành nhận xét về chất lượng giảng dạy của giảng viên. Sau khi hoàn thành, Click vào Lưu để gửi Phiếu nhận xét.</p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Đối với khảo sát về chất lượng phục vụ của thư viện: sinh viên truy cập vào đường dẫn goo.gl/fRgrcy để đóng góp ý kiến về chất lượng dịch vụ của thư viện</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;*Lưu ý: SV phải cho ý kiến góp ý về tất cả các giảng viên và môn học có trong học kỳ. Quá thời hạn khảo sát nêu trên, hệ thống sẽ tự động đóng, SV sẽ không thể trả lời phiếu khảo sát. SV tham gia thực hiện khảo sát đầy đủ sẽ được cộng 5 điểm rèn luyện (trừ SV hệ Văn bằng 2, Vừa làm vừa học, Liên thông) và được xem điểm cuối kỳ.</p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Mọi thắc mắc hoặc cần hỗ trợ, SV vui lòng liên hệ Ban ĐBCL&TTGD qua số điện thoại: (028) 38.632.052 (số nội bộ: 112) hoặc qua email: bandbclgd@huflit.edu.vn<</p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Trân trọng.</p>
        </div>
    </div>
</div>