
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGV.cshtml";
}
<button style="float:right">@Html.ActionLink("Đăng xuất", "Index", "User")</button>
<br>
<h2 style="text-align:center">QUẢN LÝ HỌC SINH</h2>