
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<button style="float:right">@Html.ActionLink("Đăng nhập", "LoginHS", "User")</button>
<br>
<h2 style="text-align:center">XIN CHÀO HỌC SINH</h2>


